.~*
__pycache__/
*.pyc
*.out

# Jupyter/IPython notebook files
*.ipynb
.ipynb_checkpoints/

# Experimental TEST scripts
*_TEST.py
# Ignore any file/dir/symlink starting with TEST:
TEST*

# VS Code workspace
*.code-workspace

# Project-specific
dir_names.py
dir_names.sh
timestamp_compare.py
# Ignore any file/dir/symlink starting w/ these names:
reference*


# case-insensitive
